.header {
    grid-area: header;
    background-color: lightcyan;
    margin-top: 10px;
}
/*.header_container{*/
/*    width: 100%;*/
/*    max-width: 1200px;*/
/*    margin: 0 auto;*/
/*    border: 1px solid red;*/

/*}*/

.header_main_image img {
    width: 5%;
    display: block;
    margin-left: 20px;
}
.header_searchbar input {
    border-radius: 10px;
    border-color: white;
    padding: 5px;
    margin: 10px 0px 10px 20px;
}



