.nav {
    grid-area: nav;
    background-color: lightcoral;
}

.item {

    margin: 20px 0px 15px 20px;
}
.item a {
    color: white;

    text-decoration: none;
}

.friends_container{
    color: white;
    padding-top: 30px;
}
.friends_list img {
    max-width: 60%;
}
.friends_list{
    padding: 10px 0px 0px 15px;
    display: flex;
    justify-content: space-around;
}