.content {
    grid-area: content;
    background-color: lightblue;
}

.item {
    color: white;
    padding-left: 50px;
    padding-top: 20px;
}
.item li {
    list-style-type: none;
}
.item img {
    border-radius: 10px;
    width: 15%;
}

.profile_slider img {
    width: 60%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}