
.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: lightblue;

}
.dialogs_items{
    padding: 10px;
}
.dialog {
}
.dialog img{
    width: 50%;
}
.messages{
    padding: 10px;

}
.message{

}
.active {
  color: goldenrod;
}
